*{
    margin:0;
    padding:0;
}

#maindiv{
  width: 100%;
  height: 100vh;
  background: url("images/3.jpg") top center;
  background-size: cover;
  position: relative;
}


#maindiv_content{
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}

  #maindiv:before {
    content: "";
    background:rgb(37, 37, 37,0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #maindiv #maindiv_content .container{
      padding-top: 15%;
      margin-left: 10%;
      margin-right: 20%;
  }
  #maindiv #maindiv_content .container h1{
    font-family: "Raleway";
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
   
  }

  #maindiv #maindiv_content .container h2{
  color: #eee;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  
  }
  #maindiv #maindiv_content .container .button_getStarted{
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 10px 28px;
    transition: 0.5s;
    border: 2px solid #fff;
    color: #fff;
  }
  #maindiv #maindiv_content .container .button_getStarted:hover{
    background: rgb(189, 161, 3);
    border-color: rgb(189, 161, 3);
  }



 /* body{
    background-color:rgb(221, 210, 210);
    height: 1050px;
}


.orientation{
     
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    
    height:150px;
}

.audio{
    margin-top: 100px;
    display:inline-block;
    height: 120px;
    width:300px;
    padding-left:35%;
}
.button-try{
    padding-top: px;
    height: 50px;
    width:300px;
    padding-left:35%;
}

.button-try2{
    height:150px;
    width:150px;
    padding-left:95%;
    margin-bottom: 30px;
}

.text-content{
    text-align: center;
    padding-top: 20px;

}
.logos{
    text-align: center;
    padding-top:90px;
}




.button-click2{
    display: block;
    color:black;
    padding-top: 63px;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 100px 100px 100px 100px;
    width:150px;
    height: 150px;
    margin:0 auto;

  

    
}

.button-click{
    display: block;
    color:black;
    padding-top: 10px;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 30px 30px 30px 30px;
    width:300px;
    height: 60px;
    padding-top: 20px;
    
    transition-duration:350ms;
    transition-property: margin-left, margin-right;
}

.button-click:hover{
    margin-left: 200px;
    margin-right: 200px;
 }


.button-click2:hover{
    border-radius: 70px 70px 70px 70px;
    width:120px;
    height: 120px;
    
  }   */
  
  


    
