*{
    margin:0;
    padding:0;
}

#maindiv{
  width: 100%;
  height: 100vh;
  background: url("images/3.jpg") 
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  background-size: cover;
  position: relative;
}


#maindiv_content{
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}

  #maindiv:before {
    content: "";
    background:rgb(37, 37, 37,0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #maindiv #maindiv_content .container{
      padding-top: 15%;
      margin-left: 10%;
      margin-right: 20%;
  }
  #maindiv #maindiv_content .container h1{
    font-family: "Raleway";
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
   
  }

  #maindiv #maindiv_content .container h2{
  color: #eee;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  
  }
  #maindiv #maindiv_content .container .button_getStarted{
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 10px 28px;
    transition: 0.5s;
    border: 2px solid #fff;
    color: #fff;
  }
  #maindiv #maindiv_content .container .button_getStarted:hover{
    background:#f2aa4cff;
    border-color:#f2aa4cff;
  }

  .theFirm .container .image_theFirm{
  float: right;
  margin-right: 230px;

    
}


.theFirm{
    display: block;
  
    padding: 60px;
    overflow: hidden;
 
}
p{
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    scroll-margin-inline-end: 0px;

}
.content_theFirm{
  width: 700px;
  margin-left: 80px;
  margin-top:30px;
}

.content_theFirm h3{
    font-weight: 600;
    font-size: 26px;
    color: #f2aa4cff;
}

.content_theFirm .font-italic{
    font-style: italic;

}

.content_theFirm p{
    color: #c1c1c1;
    font-size: 17px;

}
.audio{
    margin-top: 100px;
    
    height: 120px;
    width:300px;
    padding-left: 62%;

}



 /* body{
    background-color:rgb(221, 210, 210);
    height: 1050px;
}


.orientation{
     
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    
    height:150px;
}

.audio{
    margin-top: 100px;
    display:inline-block;
    height: 120px;
    width:300px;
    padding-left:35%;
}
.button-try{
    padding-top: px;
    height: 50px;
    width:300px;
    padding-left:35%;
}

.button-try2{
    height:150px;
    width:150px;
    padding-left:95%;
    margin-bottom: 30px;
}

.text-content{
    text-align: center;
    padding-top: 20px;

}
.logos{
    text-align: center;
    padding-top:90px;
}




.button-click2{
    display: block;
    color:black;
    padding-top: 63px;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 100px 100px 100px 100px;
    width:150px;
    height: 150px;
    margin:0 auto;

  

    
}

.button-click{
    display: block;
    color:black;
    padding-top: 10px;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 30px 30px 30px 30px;
    width:300px;
    height: 60px;
    padding-top: 20px;
    
    transition-duration:350ms;
    transition-property: margin-left, margin-right;
}

.button-click:hover{
    margin-left: 200px;
    margin-right: 200px;
 }


.button-click2:hover{
    border-radius: 70px 70px 70px 70px;
    width:120px;
    height: 120px;
    
  }   */
  
  


    
