body{
    background: url(images/try2.jpg)
    no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
 
   .a1, .a2, .a3, .a4, .a5, .a6{
    border-top-color: #FFD700;
     border-top-style:solid;
     border-width: 2px;
     /* border-bottom-color: saddlebrown;
     border-bottom-style:solid; */
     /* margin-bottom: 60px;
     margin-top: 60px; */
     margin-left: 120px;
     margin-right: 120px;
     height: 160px;
     padding-top: 40px;
   }
 
   .a6  {
     border-bottom-color:#FFD700;
     border-bottom-style:solid;
   }
 
   .architect1, .architect2,  .architect3,  .architect4, .architect5, .architect6{
     text-align: center;
    font-style: italic;
     font-family:  'Nanum Myeongjo';
     text-decoration: none;
     font-size: 40px;
     color:#e4cb41 ;
     margin-top: 20px;
   }
 
   
   
   