@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

*::selection{
  background: rgba(62,224,208,0.7);
}

body{
  width: 100%;
  background: url("arch11.jpg") 
  no-repeat center center fixed; 
  font-family: 'Ubuntu', sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;

}


.contact-us{
  width: 450px;
  background: rgba(255, 255, 255, 0.507);
  padding: 50px;
  margin: 100px auto;
  border-radius: 30px;
  position: relative;
}

.title h1{
  color: #16161f;
  letter-spacing: 5px;
  margin-bottom: 25px;
  text-align: center;
}

.form,
.form-items{
  width: 100%;
}

.form-items .input{
  width: 100%;
  margin-bottom: 12px;
  padding: 15px 40px;
  box-sizing: border-box;
  background: #ebeef1;
  border: 0px;
  outline: none;
  border-radius: 30px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.4);
}

.form-items .input.message{
  height: 125px;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 15px 15px;
  resize: none;
}

input:focus .input{
    top: -5px;
  left: 0;
  font-size: 5px;
}

.btn{
  background: #121216;
  text-align: center;
  color: #fff;
  padding: 12px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.4);
  transition: 0.2s;
}

.btn .fas{
  margin-left: 10px;
  font-size: 12px;
}

.form-items{
  position: relative;
}

.form-items .fas{
  position: absolute;
  top: 15px;
  left: 15px;
  color: #9a99aa;
}

.social-icons{
  position: absolute;
  bottom: -25px;
  left: 50%;
  width: 200px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
}

.social-icons div{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}


.social-icons div .fab{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
}

.social-icons div.facebook{
  background: #5178d9;
}

.social-icons div.twitter{
  background: #41caf6;
}

.social-icons div.google{
  background: #fb4f4f;
}


.title2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px  #dedee2;
  color: #16151b;
  letter-spacing: 5px;
  margin-bottom: 25px;
  text-align: center;
}

.button2 {
  width: 500px;
  background: #141416;
  text-align: center;
  
  padding: 12px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(34, 31, 31, 0.4);
  transition: 0.2s;
}

.btn {

  text-decoration: none;
  padding: 1em 3em;
  color: white;
  transition: all ease-in-out 300ms;
}

.btn:hover {
  outline: 3px solid white;
  outline-offset: -8px;
}